{{#d-modal-body class="staff-notes-modal"}}
  {{textarea value=newNote}}
  {{d-button action="attachNote" label="staff_notes.attach" class="btn-primary" disabled=attachDisabled}}

  {{#each model as |n|}}
    <div class='staff-note'>
      <div class='posted-by'>
        {{#user-link user=n.created_by}}
          {{avatar n.created_by imageSize="small"}}
        {{/user-link}}
      </div>
      <div class='note-contents'>
        <div class='note-info'>
          <span class='username'>{{n.created_by.username}}</span>
          <span class='post-date'>{{age-with-tooltip n.created_at}}</span>

          {{#if n.can_delete}}
            <span class='controls'>
              {{d-button action=(action "removeNote" n)
                icon="far-trash-alt"
                class="btn-small btn-danger"
                title="staff_notes.remove"}}
            </span>
          {{/if}}
        </div>

        <div class='cooked'>
          {{cook-text n.raw}}
        </div>

        {{#if n.post_id}}
          <a class="btn btn-small" href={{n.post_url}}>
            {{i18n "staff_notes.show_post"}}
          </a>
        {{/if}}
      </div>

      <div class='clearfix'></div>
    </div>
  {{/each}}
{{/d-modal-body}}
