{{#if staffNotesCount}}
  <a href {{action "showStaffNotes"}} title="{{staffNotesTitle}}">
    {{#if emojiEnabled}}
      <img src={{emojiUrl}} title={{staffNotesTitle}} alt="pencil" class="emoji">
    {{else}}
      {{d-icon "sticky-note"}}
    {{/if}}
  </a>
{{/if}}
