{{#if currentUser.staff}}
  {{#if staffNotesCount}}
    <li><a {{action "showStaffNotes"}} href class="btn">{{fa-icon "pencil"}}{{i18n 'staff_notes.show' count=staffNotesCount}}</a></li>
  {{else}}
    <li><a {{action "showStaffNotes"}} href class="btn">{{fa-icon "pencil"}}{{i18n 'staff_notes.title'}}</a></li>
  {{/if}}
{{/if}}
